<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgregarLector">
  Nuevo Lector
</button>

<!-- Modal Agregar Autor -->
<div class="modal fade" id="AgregarLector" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agregar Lector</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="addLector()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dnilector">DNI:</label>
                <input type="number" class="form-control" id="dnilector" name="dnilector" [(ngModel)]="lectorNuevo.dnilector" required>
              </div>
      
              <div class="form-group">
                <label for="nombre">Nombre Completo:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="lectorNuevo.nombre" required>
              </div>
  
              <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="lectorNuevo.telefono" required>
              </div>
            
              <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="lectorNuevo.direccion" required>
              </div>
  
              <div class="form-group">
                <label for="codigopostal">Codigo Postal:</label>
                <input type="number" class="form-control" id="codigopostal" name="codigopostal" [(ngModel)]="lectorNuevo.codigopostal" required>
              </div>
  
              <div class="form-group">
                <label for="observaciones">descripcion:</label>
                <input type="text" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="lectorNuevo.observaciones" required>
              </div>
            </div>
          </div>
      
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Autor -->
<div class="modal fade" id="ActualizarLector" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Actualizar Lector</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="updateLector(lectorNuevo.dnilector)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dnilector">DNI:</label>
                <input type="number" class="form-control" id="dnilector" name="dnilector" [(ngModel)]="lectorNuevo.dnilector" required>
              </div>
      
              <div class="form-group">
                <label for="nombre">Nombre Completo:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="lectorNuevo.nombre" required>
              </div>
  
              <div class="form-group">
                <label for="telefono">Telefono:</label>
                <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="lectorNuevo.telefono" required>
              </div>
            
              <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="lectorNuevo.direccion" required>
              </div>
  
              <div class="form-group">
                <label for="codigopostal">Codigo Postal:</label>
                <input type="number" class="form-control" id="codigopostal" name="codigopostal" [(ngModel)]="lectorNuevo.codigopostal" required>
              </div>
  
              <div class="form-group">
                <label for="observaciones">descripcion:</label>
                <input type="text" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="lectorNuevo.observaciones" required>
              </div>
            </div>
          </div>
      
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>DNI</th>
      <th>NOMBRE</th>
      <th>TELEFONO</th>
      <th>DIRECCION</th>
      <th>COD. POSTAL</th>
      <th>OBSERVACIONES</th>
      <th></th>
      <!-- Agregar más encabezados si hay más propiedades en los elementos -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lector of lector">
      <td>{{ lector.dnilector }}</td>
      <td>{{ lector.nombre }}</td>
      <td>{{ lector.telefono }}</td>
      <td>{{ lector.direccion }}</td>
      <td>{{ lector.codigopostal }}</td>
      <td>{{ lector.observaciones }}</td>
      <td>
        <!-- Botón de editar -->
        <button (click)="getLectorSingle(lector.dnilector)" class="btn btn-success" data-target="#ActualizarLector" data-toggle="modal">Editar</button>
        <!-- Botón de eliminar -->
        <button (click)="eliminarLector(lector.dnilector)" class="btn btn-danger">Eliminar</button>
      </td>
      <!-- Mostrar más propiedades si hay más columnas en los elementos -->
    </tr>
  </tbody>
</table>