<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgregarAlquiler">
  Nuevo Alquiler
</button>

<!-- Modal Agregar Alquiler -->
<div class="modal fade" id="AgregarAlquiler" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Agregar Alquiler</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="addAlquiler()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dni_lector">Lector:</label>
                <select class="custom-select" id="dni_lector" [(ngModel)]="alquilerNuevo.dni_lector" (change)="getIdLector($event)" required>
                  <option selected value="0">Seleccionar Opcion</option>
                  <option *ngFor="let lector of lector" [ngValue]="lector.dnilector">{{ lector.nombre }}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="id_asin">Libro:</label>
                <select class="custom-select" id="id_asin" [(ngModel)]="alquilerNuevo.id_asin" (change)="getIdLibro($event)" required>
                  <option selected value="0">Seleccionar Opcion</option>
                  <option *ngFor="let libro of libro" [ngValue]="libro.asin">{{ libro.titulo }}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="alquiler">Detalle:</label>
                <input type="text" class="form-control" id="alquiler" name="alquiler" [(ngModel)]="alquilerNuevo.alquiler" required>
              </div>
              
              <div class="form-group">
                <label for="salida">Fecha de salida:</label>
                <input type="date" class="form-control" id="salida" name="salida" [(ngModel)]="alquilerNuevo.salida" required>
              </div>
    
              <div class="form-group">
                <label for="entrada">Fecha de ingreso</label>
                <input type="date" class="form-control" id="entrada" name="entrada" [(ngModel)]="alquilerNuevo.entrada" required>
              </div>
            </div>
          </div>
        
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div>

<!-- Modal Actualizar Alquiler -->
<div class="modal fade" id="ActualizarAlquiler" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Actualizar Alquiler</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="updateAlquiler(alquilerNuevo.idalquiler)">
          <div class="row">
            <div class="col-md-6">
              <input type="hidden" id="idalquiler" name="idalquiler" [(ngModel)]="alquilerNuevo.idalquiler">
              <div class="form-group">
                <label for="dni_lector">Lector:</label>
                <select class="custom-select" id="dni_lector" [(ngModel)]="alquilerNuevo.dni_lector" (change)="getIdLector($event)" required>
                  <option selected value="0">Seleccionar Opcion</option>
                  <option *ngFor="let lector of lector" [ngValue]="lector.dnilector">{{ lector.nombre }}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="id_asin">Libro:</label>
                <select class="custom-select" id="id_asin" [(ngModel)]="alquilerNuevo.id_asin" (change)="getIdLibro($event)" required>
                  <option selected value="0">Seleccionar Opcion</option>
                  <option *ngFor="let libro of libro" [ngValue]="libro.asin">{{ libro.titulo }}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="alquiler">Detalle:</label>
                <input type="text" class="form-control" id="alquiler" name="alquiler" [(ngModel)]="alquilerNuevo.alquiler" required>
              </div>
              
              <div class="form-group">
                <label for="salida">Fecha de salida:</label>
                <input type="date" class="form-control" id="salida" name="salida" [(ngModel)]="alquilerNuevo.salida" required>
              </div>
    
              <div class="form-group">
                <label for="entrada">Fecha de ingreso</label>
                <input type="date" class="form-control" id="entrada" name="entrada" [(ngModel)]="alquilerNuevo.entrada" required>
              </div>
            </div>
          </div>
        
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
      <div class="modal-footer"> 
      </div>
    </div>
  </div>
</div>

<!-- Tabla Alquiler -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">LECTOR</th>
        <th scope="col">LIBRO</th>
        <th scope="col">FECHA SALIDA</th>
        <th scope="col">FECHA ENTRADA</th>
        <th scope="col">DETALLE</th>
        <th scope="col"></th> <!-- Nueva columna para botones de eliminar y editar -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alquiler of alquiler">
        <td>{{ alquiler.dni_lector.nombre }}</td>
        <td>{{ alquiler.id_asin.titulo }}</td>
        <td>{{ formatearFecha(alquiler.salida) }}</td>
        <td>{{ formatearFecha(alquiler.entrada) }}</td>
        <td>{{ alquiler.alquiler }}</td>
        <td>
          <!-- Botón de editar -->
          <button (click)="getAlquilerSingle(alquiler.idalquiler)" class="btn btn-success" data-target="#ActualizarAlquiler" data-toggle="modal">Editar</button>
          <!-- Botón de eliminar -->
          <button (click)="eliminarAlquiler(alquiler.idalquiler)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>